{% extends "quiz/base.html" %}
{% load crispy_forms_tags %}
{% load markdown_extras %}

{% block content %}
    <div class="content-section">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h4><i class="fas fa-lightbulb"></i> Hint {% if task_name %}for "{{ task_name }}"{% endif %}</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-light">
                    {{ hint | markdown | safe }}
                </div>
                <div class="text-center">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Back to Question
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}